<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ca.jvsh.fall"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="21" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >

		<!-- Main Android Activity, which is being used to start/stop the Fall Detection Service -->
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:screenOrientation="sensorPortrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Activity to set application settings -->
		<activity
			android:name="SettingsActivity"
			android:label="@string/menu_settings"
			android:screenOrientation="sensorPortrait" >
		</activity>

		<!-- Foreground service that will detect falls -->
		<service
			android:name=".FallDetectionService"
			android:exported="false"
			android:process=":remote" >
			<intent-filter>

				<!-- Interface that is supported by our service and we can bind to -->
				<action android:name="ca.jvsh.fall.IFallDetectionService" />

				<!-- Action code that we are using to select the service without explicitly supplying the implementation class -->
				<action android:name="ca.jvsh.fall.FALL_DETECTION_SERVICE" />
			</intent-filter>
		</service>

		<!-- Class that starts our service on boot (if setting is set) -->
		<receiver
			android:name=".OnBootReceiver"
			android:enabled="true"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
	</application>

</manifest>